img {
  height: 300px;
  width: 300px;
  /* 縦横比を保ったまま、画像を縦横300pxのサイズに収める */
  object-fit: contain;
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
  margin-left: 25px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  height: 200px;
  width: 200px;
}