// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posted-content {
  display: flex;
 flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: calc((100% - 50px) / 6);
  margin-bottom: 10px;
}


.post{
  text-decoration: none;
  color: black;
}

/* スマホ表示時 */
@media (max-width: 500px) {
  .card {
    width: calc((100% - 50px) / 3);
    margin-bottom: 40px;
  }
}